* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #b1d8e7;
}
.button-div {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  margin-bottom: 20px;
}
.input-div {
  margin-top: 20px;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

form {
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  border-radius: 25px;
  padding: 20px;
}
